.border {
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}


/* Apply scrollbar styles to the entire document */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: #2b2b2b; /* Track background color */
    border-radius: 6px; /* Rounded corners for the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background: #444; /* Scrollbar thumb color */
    border-radius: 6px; /* Rounded corners for the thumb */
    border: 2px solid #2b2b2b; /* Adds space between thumb and track */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Lighter shade on hover */
  }
  
  /* Apply styles for other browsers using scrollbar-color and scrollbar-width */
  * {
    scrollbar-color: #444 #2b2b2b; /* Thumb color, Track color */
    scrollbar-width: thin; /* Thin scrollbar */
  }
  